/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.logo{
		width: ;
	}
	.menu ul li a {
		padding: 0px 0px !important;
		text-align: right;
	}
	/*slider*/
	.slider-content {
		margin-top: 0px;}
		.slider{
		padding-bottom: 50px;}
		.slider-content h1 {
        font-size: 25px;
        margin-bottom: 10px;}
        .slider-content h2 {
        margin-bottom: 10px;}
        .slider-icon {
        font-size: 35px;}
        .slider-icon li{
        margin-right: 25px !important;
        }
 		.cid {
		bottom: -50px;
			}
		.cid li {
         width: 10px;
        height: 10px;}
        /*features*/
        .features {
        padding-top: 50px;
        padding-bottom: 70px;}
         .c_h1 {
        margin-bottom: 10px;
        font-size: 28px; }
        .c_p{
        font-size: 18px;
        word-spacing: 1px;
        letter-spacing: 0px;
        }
        .f_icon{
        font-size: 40px;}
        .f_text h2 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 20px;}
        .m_t_60 {
        margin-top: 30px;}
        .f_text {
        text-align: center;}
        .f_form{
        margin-bottom: 0px;}
        .f_email{
        margin-bottom: 20px;
        }
        /*contact start*/
        .contact{
        padding-top: 50px;
        padding-bottom: 70px;}
        /*social contact*/
        .btn2 {
        margin-top: 35px;
        margin-right: 20px;
        width: 35px;
        height: 35px;}
         /*footer start*/
        .fot_1{
        text-align: center;
         margin-bottom: 50px;} 

		}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu ul li a {
		padding: 0px 0px !important;
		text-align: right;
	}
	/*slider*/
	
	.slider{
		padding-bottom: 50px;
	}
	.slider-content {
		margin-top: 20px;
	}
	.cid {
		bottom: -50px;
	}
	.cid li {
    width: 10px;
    height: 10px;}
    /*features*/
    .features {
    padding-top: 60px;
    padding-bottom: 80px;}
    .m_t_60 {
    margin-top: 40px;}
    .f_text {
    text-align: center;}
    /*contact start*/
    .contact{
    padding-top: 60px;
    padding-bottom: 80px;}
    
    /*footer start*/
    .footer{
    padding-bottom: 60px;
    }
    .fot_1{
    text-align: center;
    margin-bottom: 50px;}


		}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.menu ul li a {
		padding: 0 0px !important;
		text-align: right;
	}
	/*slider*/
	.slider-content {
		margin-top: 40px;
	}
	/*feature start*/
	.f_text {
    text-align: center;}
		}


/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

		}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {


}
/* Extra extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {}